<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.finderright.app.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>finderright</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：复制路径</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>copyPath</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：复制文件名</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>copyNames</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：复制文件链接</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>copyFileURLs</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：复制 SHA-256</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>copySHA256</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：打开终端</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>openTerminal</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：打开编辑器</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>openWithApp</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：剪切</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>cutFiles</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：粘贴到…</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>pasteFiles</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：复制到…</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>copyTo</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：移动到…</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>moveTo</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：批量重命名…</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>batchRename</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：压缩为 ZIP</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>compressZip</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：安全解压</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>decompress</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：转换为 PNG 副本</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>imageConvert</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FinderRight：合并为 PDF</string>
			</dict>
			<key>NSMessage</key>
			<string>performAction</string>
			<key>NSUserData</key>
			<string>makePDF</string>
			<key>NSPortName</key>
			<string>FinderRight</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
